/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// NOTE: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/variant2qtl/'
}

process {
    // Cap process_* labels for local/CI nf-test (nf-test CLI often uses -profile docker only)
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'SMOOVE_CALL|MANTA_GERMLINE|DELLY_CALL|EXPANSIONHUNTER|GANGSTR|HIPSTR|TRGT_GENOTYPE|ENSEMBLVEP_VEP|SNPEFF_SNPEFF|SHAPEIT5_PHASECOMMON|BEAGLE5_BEAGLE|MINIMAC4_IMPUTE|GLIMPSE_PHASE|SOMALIER_EXTRACT|SOMALIER_RELATE' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }

    // Stub nf-tests still create conda envs under -profile conda. The module's
    // ensembl-vep+htslib=1.23.1 pin is currently unsatisfiable; drop htslib so
    // topic version evals still see vep / perl-math-cdf.
    withName: 'ENSEMBLVEP_DOWNLOAD' {
        container = 'quay.io/biocontainers/python:3.9--1'
        conda     = 'bioconda::ensembl-vep=116.0 bioconda::perl-math-cdf=0.1'
    }

    withName: 'GLIMPSE2_PHASE' {
        beforeScript = ''
    }
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
