/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// NOTE: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/variant2qtl/'
}

process {
    withName: 'SMOOVE_CALL|MANTA_GERMLINE|DELLY_CALL|EXPANSIONHUNTER|GANGSTR|HIPSTR|TRGT_GENOTYPE' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
