/*
========================================================================================
    Nextflow config for *real* (non-stub) nf-tests — do not force python stub containers
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/variant2qtl/'
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

aws.client.anonymous = true
