/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defaults for GENOTYPE_INGEST_HARMONIZE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:PLINK_VCF' {
        ext.args   = { params.genotype_ingest_args ?: '--make-bed --double-id --allow-extra-chr --vcf-half-call missing' }
        ext.prefix = { "${meta.id}" }
    }
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:BCFTOOLS_NORM' {
        ext.args   = { params.genotype_ingest_norm_args ?: '--output-type z --check-ref w -m -both' }
        ext.prefix = { "${meta.id}_norm" }
    }
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:BCFTOOLS_VIEW' {
        ext.args   = { params.genotype_ingest_view_args ?: '--output-type z' }
        ext.prefix = { "${meta.id}_samples" }
    }
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:PICARD_LIFTOVERVCF' {
        ext.prefix = { "${meta.id}_lift" }
    }
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:BCFTOOLS_INDEX_NORM' {
        ext.args = '-t'
    }
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:BCFTOOLS_INDEX_VIEW' {
        ext.args = '-t'
    }
}
