/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defaults for GENOTYPE_INGEST_HARMONIZE (PLINK_VCF)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: '.*:GENOTYPE_INGEST_HARMONIZE:PLINK_VCF' {
        ext.args   = { params.genotype_ingest_args ?: '--make-bed --double-id --allow-extra-chr --vcf-half-call missing' }
        ext.prefix = { "${meta.id}" }
    }
}
