/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for phenotype_prepare smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Prefer -stub for CI:

        nextflow run . -profile test_pheno,docker -stub --outdir results_test_pheno

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test phenotype_prepare profile'
    config_profile_description = 'Molecular phenotype QC to FastQTL BED from mini matrix'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest  = false
    run_genotype_qc      = false
    run_gwas_benchmark   = false
    run_omiga_cis        = false
    run_tensorqtl_cis    = false
    run_qtltools_cis     = false
    run_finemap_susie    = false
    run_qtl_postprocess  = false
    run_coloc            = false
    run_peer             = false
    run_phenotype_prepare = true
    phenotype_matrix      = "${projectDir}/assets/testdata/phenotype_prepare_mini/expr.tsv"
    phenotype_gene_bed    = "${projectDir}/assets/testdata/phenotype_prepare_mini/genes.bed"
    phenotype_samples     = "${projectDir}/assets/testdata/phenotype_prepare_mini/samples.txt"
    phenotype_transform   = 'invnorm'
    phenotype_max_missing = 0.2
}
