/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for annotate + bcftools filter smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_annotate_filter,docker -stub --outdir results_test_annotate_filter
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withName: 'ENSEMBLVEP_VEP|SNPEFF_SNPEFF|VCFANNO|BCFTOOLS_PLUGINSCATTER|BCFTOOLS_CONCAT|BCFTOOLS_SORT|COMPRESS_VCF|INDEX_VCF' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
}

params {
    config_profile_name        = 'Test annotate_filter profile'
    config_profile_description = 'snpEff annotate then bcftools view stub'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest   = false
    run_genotype_qc       = false
    run_gwas_benchmark    = false
    run_omiga_cis         = false
    run_tensorqtl_cis     = false
    run_qtltools_cis      = false
    run_finemap_susie     = false
    run_qtl_postprocess   = false
    run_coloc             = false
    run_peer              = false
    run_phenotype_prepare = false
    run_sqtl_leafcutter   = false
    run_hyprcoloc         = false
    run_smr               = false
    run_mashr             = false
    run_metal             = false
    run_torus             = false
    run_twas              = false
    run_ldsc              = false
    run_finemap_extra     = false
    run_snp_indel         = false
    run_sv                = false
    run_str               = false
    run_eqtl              = false
    run_sqtl              = false
    run_pqtl              = false
    run_gqtl              = false
    run_annotate          = false
    run_phase             = false
    run_impute            = false

    run_annotate = true
    annotate_tools = 'snpeff'
    annotate_vcf = "${projectDir}/assets/testdata/vcf_api_mini/sample.vcf.gz"
    annotate_vcf_tbi = "${projectDir}/assets/testdata/vcf_api_mini/sample.vcf.gz.tbi"
    annotate_snpeff_db = 'GRCh38.99'
    annotate_snpeff_cache = "${projectDir}/assets/testdata/vcf_api_mini/snpeff_cache"
    annotate_filter = true
    annotate_filter_bcftools = true
    annotate_filter_vep = false
}
