/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_qc_somalier,docker -stub --outdir results_test_qc_somalier
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withName: 'SOMALIER_EXTRACT|SOMALIER_RELATE' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
}

params {
    config_profile_name        = 'Test Somalier + QC extras profile'
    config_profile_description = 'ingest → QC extras + Somalier relate + relatedness hook stub'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    genotype_input              = "${projectDir}/assets/genotype_samplesheet.csv"
    run_genotype_ingest         = true
    run_genotype_qc             = true
    run_gwas_benchmark          = false
    run_omiga_cis               = false
    genotype_qc_args            = '--maf 0.01 --hwe 1e-6 --geno 0.2'
    genotype_qc_run_het         = true
    genotype_qc_run_relatedness = true
    genotype_qc_run_pca         = true
    genotype_qc_use_somalier    = true

    run_relate       = true
    relate_vcf       = "${projectDir}/assets/testdata/vcf_api_mini/multi.vcf.gz"
    relate_vcf_tbi   = "${projectDir}/assets/testdata/vcf_api_mini/multi.vcf.gz.tbi"
    relate_fasta     = "${projectDir}/assets/testdata/vcf_api_mini/ref.fa"
    relate_fasta_fai = "${projectDir}/assets/testdata/vcf_api_mini/ref.fa.fai"
    relate_sites     = "${projectDir}/assets/testdata/vcf_api_mini/sites.vcf.gz"
}
