/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for annotation cache download smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_cache,docker -stub --outdir results_test_cache
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test cache profile'
    config_profile_description = 'VEP/snpEff cache download stub'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest   = false
    run_genotype_qc       = false
    run_gwas_benchmark    = false
    run_omiga_cis         = false
    run_tensorqtl_cis     = false
    run_qtltools_cis      = false
    run_finemap_susie     = false
    run_qtl_postprocess   = false
    run_coloc             = false
    run_peer              = false
    run_phenotype_prepare = false
    run_sqtl_leafcutter   = false
    run_hyprcoloc         = false
    run_smr               = false
    run_mashr             = false
    run_metal             = false
    run_torus             = false
    run_twas              = false
    run_ldsc              = false
    run_finemap_extra     = false
    run_snp_indel         = false
    run_sv                = false
    run_str               = false
    run_eqtl              = false
    run_sqtl              = false
    run_pqtl              = false
    run_gqtl              = false
    run_annotate          = false
    run_phase             = false
    run_impute            = false
    run_relate            = false
    run_vcf_prep          = false
    run_impute_bam        = false
    run_fasta_index       = false

    run_cache = true
    cache_tools = 'snpeff,ensemblvep'
    cache_vep_preflight = false
    annotate_vep_genome = 'GRCh38'
    annotate_vep_species = 'homo_sapiens'
    annotate_vep_cache_version = '110'
    annotate_snpeff_db = 'GRCh38.99'
}
