/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for pqtl smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_pqtl,docker -stub --outdir results_test_pqtl
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test pqtl profile'
    config_profile_description = 'pQTL modality: prepare + PEER + OmiGA'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest   = false
    run_genotype_qc       = false
    run_gwas_benchmark    = false
    run_omiga_cis         = false
    run_tensorqtl_cis     = false
    run_qtltools_cis      = false
    run_finemap_susie     = false
    run_qtl_postprocess   = false
    run_coloc             = false
    run_peer              = false
    run_phenotype_prepare = false
    run_sqtl_leafcutter   = false
    run_hyprcoloc         = false
    run_smr               = false
    run_mashr             = false
    run_metal             = false
    run_torus             = false
    run_twas              = false
    run_ldsc              = false
    run_finemap_extra     = false
    run_snp_indel         = false
    run_sv                = false
    run_str               = false
    run_eqtl              = false
    run_sqtl              = false
    run_pqtl              = false
    genotype_input = "${projectDir}/assets/genotype_samplesheet_omiga.csv"
    run_pqtl = true
    qtl_modality_engine = 'omiga'
    phenotype_matrix = "${projectDir}/assets/testdata/phenotype_prepare_mini/expr.tsv"
    phenotype_gene_bed = "${projectDir}/assets/testdata/phenotype_prepare_mini/genes.bed"
    phenotype_samples = "${projectDir}/assets/testdata/phenotype_prepare_mini/samples.txt"
    genotype_qc_args = '--maf 0.01 --hwe 1e-6 --geno 0.2'
    genotype_qc_run_het = false
    genotype_qc_run_relatedness = false
    genotype_qc_run_pca = false
}
