/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for PEER covariate smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Prefer -stub for CI:

        nextflow run . -profile test_peer,docker -stub --outdir results_test_peer

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test PEER profile'
    config_profile_description = 'PEER hidden factors from mini FastQTL BED'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest   = false
    run_genotype_qc       = false
    run_gwas_benchmark    = false
    run_omiga_cis         = false
    run_tensorqtl_cis     = false
    run_qtltools_cis      = false
    run_finemap_susie     = false
    run_qtl_postprocess   = false
    run_coloc             = false
    run_phenotype_prepare = false
    run_peer              = true
    peer_phenotype        = "${projectDir}/assets/testdata/peer_mini/phenotype.bed"
    peer_covariates       = "${projectDir}/assets/testdata/peer_mini/covariates.txt"
    peer_nk               = 2
}
