/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for SNP/Indel umbrella smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_snp_indel,docker -stub --outdir results_test_snp_indel
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test snp_indel profile'
    config_profile_description = 'Umbrella ingest/QC/OmiGA cis via run_snp_indel'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    genotype_input       = "${projectDir}/assets/genotype_samplesheet_omiga.csv"
    run_genotype_ingest  = false
    run_genotype_qc      = false
    run_gwas_benchmark   = false
    run_omiga_cis        = false
    run_snp_indel        = true
    omiga_cis_use_qc_bed = true
    run_tensorqtl_cis    = false
    run_finemap_susie    = false

    genotype_qc_args            = '--maf 0.01 --hwe 1e-6 --geno 0.2'
    genotype_qc_run_het         = false
    genotype_qc_run_relatedness = false
    genotype_qc_run_pca         = false
}
