/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for QTL–GWAS coloc smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Exercises coloc.abf on assets/testdata/coloc_mini/. Prefer -stub for CI:

        nextflow run . -profile test_coloc,docker -stub --outdir results_test_coloc

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test coloc profile'
    config_profile_description = 'QTL–GWAS coloc.abf smoke test from mini sumstats'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest  = false
    run_genotype_qc      = false
    run_gwas_benchmark   = false
    run_omiga_cis        = false
    run_tensorqtl_cis    = false
    run_qtltools_cis     = false
    run_finemap_susie    = false
    run_qtl_postprocess  = false
    run_coloc            = true
    coloc_qtl_sumstats   = "${projectDir}/assets/testdata/coloc_mini/qtl.tsv"
    coloc_gwas_sumstats  = "${projectDir}/assets/testdata/coloc_mini/gwas.tsv"
}
