/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_leafcutter_cluster,docker -stub --outdir results_test_leafcutter_cluster
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withName: 'LEAFCUTTER_CLUSTERREGTOOLS' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
}

params {
    config_profile_name        = 'Test LeafCutter cluster profile'
    config_profile_description = 'BAM → regtools junc → clusterregtools → prepare stub'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest   = false
    run_genotype_qc       = false
    run_gwas_benchmark    = false
    run_omiga_cis         = false
    run_tensorqtl_cis     = false
    run_qtltools_cis      = false
    run_finemap_susie     = false
    run_qtl_postprocess   = false
    run_coloc             = false
    run_peer              = false
    run_phenotype_prepare = false
    run_hyprcoloc         = false
    run_smr               = false
    run_mashr             = false
    run_metal             = false
    run_torus             = false
    run_twas              = false
    run_sqtl_leafcutter   = false
    run_leafcutter_cluster = true
    sqtl_bam              = "${projectDir}/assets/testdata/str_mini/sample.bam"
    sqtl_bam_index        = "${projectDir}/assets/testdata/str_mini/sample.bam.bai"
    sqtl_genes            = "${projectDir}/assets/testdata/sqtl_leafcutter_mini/genes.bed"
}
