/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for impute smoke tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        nextflow run . -profile test_impute,docker -stub --outdir results_test_impute
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withName: 'BEAGLE5_BEAGLE|MINIMAC4_IMPUTE|GLIMPSE_PHASE' {
        container = 'quay.io/biocontainers/python:3.9--1'
    }
}

params {
    config_profile_name        = 'Test impute profile'
    config_profile_description = 'Beagle5 impute stub from mini VCF'

    input  = "${projectDir}/assets/samplesheet_stub.csv"
    genome = 'R64-1-1'
    igenomes_ignore = true
    validate_params = false

    run_genotype_ingest   = false
    run_genotype_qc       = false
    run_gwas_benchmark    = false
    run_omiga_cis         = false
    run_tensorqtl_cis     = false
    run_qtltools_cis      = false
    run_finemap_susie     = false
    run_qtl_postprocess   = false
    run_coloc             = false
    run_peer              = false
    run_phenotype_prepare = false
    run_sqtl_leafcutter   = false
    run_hyprcoloc         = false
    run_smr               = false
    run_mashr             = false
    run_metal             = false
    run_torus             = false
    run_twas              = false
    run_ldsc              = false
    run_finemap_extra     = false
    run_snp_indel         = false
    run_sv                = false
    run_str               = false
    run_eqtl              = false
    run_sqtl              = false
    run_pqtl              = false
    run_gqtl              = false
    run_annotate          = false
    run_phase             = false
    run_impute            = false

    run_impute = true
    impute_engine = 'beagle5'
    impute_vcf = "${projectDir}/assets/testdata/vcf_api_mini/sample.vcf.gz"
    impute_vcf_tbi = "${projectDir}/assets/testdata/vcf_api_mini/sample.vcf.gz.tbi"
    impute_panel = "${projectDir}/assets/testdata/vcf_api_mini/ref.vcf.gz"
    impute_panel_tbi = "${projectDir}/assets/testdata/vcf_api_mini/ref.vcf.gz.tbi"
    impute_map = "${projectDir}/assets/testdata/vcf_api_mini/genetic_map.txt"
    impute_region = '1'
}
