/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Subworkflow process defaults for GENOTYPE_TO_GWAS_FORMATS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Include from the pipeline nextflow.config, e.g.:
      includeConfig 'subworkflows/local/genotype_to_gwas_formats/nextflow.config'
*/

process {
    withName: '.*:GENOTYPE_TO_GWAS_FORMATS:PLINK_RECODE_TRANSPOSE' {
        // 12 = numeric alleles for EMMAX (rejects non-ACGT tokens like D/d in plink_simulated)
        ext.args = '12 transpose'
    }
    withName: '.*:GENOTYPE_TO_GWAS_FORMATS:PLINK_RECODE_VCF' {
        ext.args = 'vcf-iid bgz'
    }
}
