/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defaults for GENOTYPE_TO_ANALYSIS_FORMAT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: '.*:GENOTYPE_TO_ANALYSIS_FORMAT:PLINK2_VCF2BGEN' {
        ext.prefix = { "${meta.id}" }
    }
}
