/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-test config for GENOTYPE_INGEST_HARMONIZE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]

    withName: '.*:GENOTYPE_INGEST_HARMONIZE:PLINK_VCF' {
        ext.args   = '--make-bed --double-id --allow-extra-chr --vcf-half-call missing'
        ext.prefix = { "${meta.id}" }
    }
}
