/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defaults for GENOTYPE_QC
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: '.*:GENOTYPE_QC:PLINK2_FILTER' {
        ext.args   = { params.genotype_qc_args ?: '--maf 0.05 --hwe 1e-6 --geno 0.1' }
        ext.prefix = { "${meta.id}_qc" }
    }
    withName: '.*:GENOTYPE_QC:PLINK2_HET' {
        ext.prefix = { "${meta.id}_het" }
    }
    withName: '.*:GENOTYPE_QC:HET_OUTLIERS' {
        ext.prefix   = { "${meta.id}_het" }
        ext.sd_thresh = { params.genotype_qc_het_sd ?: 3.0 }
    }
    withName: '.*:GENOTYPE_QC:RELATEDNESS_OUTLIERS' {
        ext.prefix = { "${meta.id}_rel" }
        ext.pi_hat = { params.genotype_qc_pi_hat ?: 0.185 }
    }
    withName: '.*:GENOTYPE_QC:PLINK2_REMOVE_HET' {
        ext.prefix = { "${meta.id}_het_rm" }
    }
    withName: '.*:GENOTYPE_QC:PLINK2_REMOVE_REL' {
        ext.prefix = { "${meta.id}_rel_rm" }
    }
    withName: '.*:GENOTYPE_QC:PLINK_GENOME' {
        ext.prefix = { "${meta.id}_genome" }
    }
    withName: '.*:GENOTYPE_QC:PLINK2_PCA_BFILE' {
        ext.prefix = { "${meta.id}_pca" }
        ext.npcs   = { params.genotype_qc_pca_n ?: 10 }
    }
}
