process {
    resourceLimits = [
        cpus: 2,
        memory: '4.GB',
        time: '1.h'
    ]

    withName: 'OMIGA_CIS' {
        cpus   = 2
        memory = '2.GB'
        // LM smoke: skip GRM. Avoid --nofilter (OmiGA 1.8.17 hits eliminate_index bug).
        // geno.bim alleles are ACGT (recode of plink_simulated D/d).
        ext.args = '--qtl-map-model a --cis-window 1000000 --mac-threshold 1 --maf-threshold 0.01 --nominal-only --verbose'
    }
}
